.resume-container {
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-iframe {
    width: 100%;
    height: 100%;
    border: none;
}